body {
  background-color: #f8f9fa;
  min-height: 100vh;
}

/* Navbar Styles */
.navbar {
  background-color: #3d4247;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  flex: 1;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 30px;
  margin-right: 10px;
}

.navbar .navbar-collapse {
  display: flex;
  justify-content: flex-end; 
  flex: 1;
}

.navbar a {
  color: rgb(137, 137, 140);
  text-shadow: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar .navbar-brand span {
  color: #ffffff; 
  text-shadow: none;
}

.navbar a:hover {
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 255, 255, 0.5);
}

.nav-link {
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 550;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-link:hover {
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5);
}

.navbar-nav {
  margin-left: auto; 
  display: flex;
  align-items: center;
}


/* Responsive Navbar */
@media (max-width: 991.98px) {
  .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}



/* Footer Styles */
.footer {
  color: darkgray;
  text-align: center;
  padding-left: 105px;
  padding-right: 105px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #3d4247;
}

.footer .social-icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px; /* Adjust the size as needed */
  transition: transform 0.3s ease;
  color: #464646;
}

.footer .social-icon:hover {
  transform: scale(1.1);
}

.footer a {
  color: rgb(112, 110, 110);
  text-shadow: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer a:hover {
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5);
}


.footer .container {
  padding-top: 1rem; 
  padding-bottom: 1rem; 
}

.footer-text {
  color: darkgray;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}