body {
  background-color: #f8f9fa;
  min-height: 100vh;
}

/* Navbar Styles */
.logo-container {
  padding: 48px 0 0 20px;
}

.navbar a {
  color: rgb(137, 137, 140);
  text-shadow: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar .navbar-brand span {
  color: #ffffff; 
  text-shadow: none;
}

.navbar a:hover {
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 255, 255, 0.5);
}

/* Specific Navbar styles */
.navbar {
  background-color: #3d4247;
  height: 70px;
}

.navbar .navbar-brand {
  color: #ffffff;
}

.nav-link {
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 550; /* Making nav link words thicker */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-link:hover {
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5);
}

.navbar-nav {
  margin-left: auto; /* Aligning nav links to the right */
}

/* Responsive Navbar */
@media (max-width: 991.98px) {
  .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

/* Footer Styles */
.footer {
  background-color: #3d4247;
  color: darkgray;
  text-align: center;
  padding: 20px 0;
}

.footer a {
  color: rgb(112, 110, 110);
  text-shadow: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer a:hover {
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5);
}
